{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block page_header %}

<div class="category-links">
  <hr>
  <h2 class="playfair-display-article-heading">Confirm Email Address</h2>
  <hr>
</div>

{% endblock %}

{% block content %}
<div class="grid-container-article">

    <div class="grid-item-article">
    </div>
   
    <div class="grid-item-article">
        <div class="login-card">
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            {% element p %}
                {% blocktrans with confirmation.email_address.email as email %}<p class="playfair-display-para">Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.</p>{% endblocktrans %}
            {% endelement %}
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {{ redirect_field }}
                    {% element button type="submit" %}
                        {% trans 'Confirm' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% else %}
        <p class="playfair-display-para">Unable to confirm {{ email }} because it is already confirmed by a different account.</p>
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
            <p class="playfair-display-para">This email confirmation link expired or is invalid. Please <a class="playfair-display-para" href="{{ email_url }}">issue a new email confirmation request</a>.</p>
    {% endif %}
</div>
</div>
</div>
{% endblock %}
