{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block page_header %}
<div class="category-links">
    <hr>
    <h2 class="playfair-display-article-heading">Verify Your Email Address</h2>
    <hr>
  </div>
  
  {% endblock %}
  
  {% block content %}
  <div class="grid-container-article">
  
      <div class="grid-item-article">
      </div>
     
      <div class="grid-item-article">
        <p class="playfair-display-text">We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.</p>
    </div>
</div>
{% endblock %}
