{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="category-links">
  <hr>
    <a class="playfair-display-link" href="{% url 'home' %}">
      <i class="fa-solid fa-arrow-left">&nbsp;</i>Back
    </a>
  <hr>
</div>
{% endblock %}

{% block content %}
<div class="grid-container-article">

  <div class="grid-item-article">
  </div>
  
  <div class="grid-item-article">
    <h1 class="playfair-display-article-heading">{{ article.headline }}</h1>
      <p class="date">{{ article.date }}</p>
        <div class="container">
          <img src="{{ MEDIA_URL }}{{ article.image_name }}" alt="{{ article.image_description }}" class="pic">
        </div>
          <br>
            <p class="playfair-display-para justify">
              {{ article.article_text }}
            </p>
            {% if request.user.is_staff %}
                <a href="{% url 'edit_article' article.id %}" class="btn edit-article left">
                  Edit Article
                </a>
                <a href="{% url 'delete_article' article.id %}" class="btn delete-article right">
                  Delete Article
                </a>
            {% endif %}
    </div>
   
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/back-button.js' %}"></script>
{% endblock %}