{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="menu">
    <a class="playfair-display-link" href="?latest=true">
        LATEST
    </a>
        {% for category in categories %}
            <a class="playfair-display-link" href="?category={{ category.id }}">
                {{ category.friendly_name|upper }}
            </a>
        {% endfor %}
        <hr>
</div>
<div class="grid-container">
    {% for article in articles %}
    <div class="grid-item">
     <h5 class="playfair-display-caption">{{ article.sub_category|upper }}</h5>
      <div class="container">
       <img src="media/{{ article.image }}" alt="{{ article.image_description }}" class="pic">
      </div>
       <a href="{% url 'article' article.id %}">{{ article.headline }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/bottom-border-remover.js' %}"></script>
{% endblock %}