{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="category-links">
    <hr>
        <a class="playfair-display-link" href="?latest=true">
            LATEST
        </a>
            {% for category in categories %}
                <a class="playfair-display-link" href="?category={{ category.id }}">
                    {{ category.friendly_name|upper }}
                </a>
            {% endfor %}
    <hr>
</div>

{% endblock %}

{% block content %}
<div class="grid-container">
    {% for article in articles %}
    <div class="grid-item">
     <h1 class="playfair-display-caption">{{ article.sub_category|upper }}</h1>
      <div class="container">
       <img src="media/{{ article.image }}" alt="{{ article.image_description }}" class="pic">
      </div>
       <a href="{% url 'article' article.id %}">{{ article.headline }}</a>
    </div>
    {% endfor %}
</div>

{% endblock %}