{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-item">
     <h5 class="playfair-display-caption">WORLD</h5>
      <div class="container">
       <img src="images/article-1-cropped.png" alt="Image description" class="pic">
      </div>
       <a href="">Billionaire Dies Of Starvation After Drunk Million Buck Tip Enables Town's Only Deliveroo Driver To Quit</a>
    </div>
</div>
{% endblock %}