{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="category-links">
  <hr>
  <h2 class="playfair-display-article-heading">Manage Profile</h2>
  <hr>
</div>

{% endblock %}

{% block content %}
<div class="grid-container-article">

    <div class="grid-item-article">
    </div>
   
    <div class="grid-item-article">
        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="cart-button">Update Information</button>
        </form>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Order Date</th>
                    <th>Item</th>
                    <th>Total</th>
                    <th>Expires</th>
                    <th>Auto Renew</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'subscription_history' order.order_number %}"
                            title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:12 }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        {% for item in order.lineitems.all %}
                        <td>
                                {{ item.subscription.subscription_type }}
                        </td>
                        {% endfor %}
                        </td>
                        <td>£{{ order.grand_total }}</td>
                        <td>{{ order.renew_date|date:"F d, Y" }}</td>
                        <td>{% if auto_renew_status %}On{% else %}Off{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="btn remove-button right playfair-display-link" style="text-decoration:none;" href="{% url 'delete_confirmation' %}">DELETE PROFILE
          </a>
    </div>
</div>
{% endblock %}