{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="category-links">
    <hr>
    <h2 class="playfair-display-article-heading">Thank You!</h2>
    <hr>
  </div>
{% endblock %}

{% block content %}
<div class="grid-container-article">

    <div class="grid-item-article">
    </div>
   
    <div class="grid-item-article">
        <p class="playfair-display-article-para">Your order information is below. A confirmation email will be sent to <strong>{{ profile.email }}</strong>.</p>
        <table>
            <thead>
                <tr>
                    <th colspan="2"><strong>ORDER CONFIRMATION</th>
                </tr>
            </thead>
            {% for item in order.lineitems.all %}
            <tbody>
                <tr>
                    <th>Order Number:</th>
                    <td>{{ order.order_number }}</td>
                </tr>
                <tr>
                    <th>Order Date:</th>
                    <td>{{ order.date }}</td>
                </tr>
                <tr>
                    <th>Full Name:</th>
                    <td>{{ profile.first_name }} {{ profile.last_name }}</td>
                </tr>
                <tr>
                    <th>Phone Number:</th>
                    <td>{{ profile.phone_number }}</td>
                </tr>
                <thead>
                    <tr>
                        <th colspan="2"><strong>SUBSCRIPTION DETAILS</th>
                    </tr>
                </thead>
                <tr>
                    <th>{{ item.subscription.subscription_type }}:</th>
                    <td>{{ item.quantity }} @ ${{ item.subscription.cost }} each</td>
                </tr>
                <tr>
                    <th>VAT:</th>
                    <td>£{% if item.subscription.subscriptyion_type == Annual %}0.61{% else %}2.43{% endif %}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Grand Total:</th>
                    <td>£{{ order.grand_total }}</td>
                </tr>
            </tfoot>
        </table>
        {% endfor %}
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fa-solid fa-arrow-left"></i>
                        </span>
                        <span>Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'home' %}" class="btn btn-black rounded-0 my-2">
                        <span>Now check out the latest fake news!</span>
                    </a>
                {% endif %}
    </div>
</div>
{% endblock %}
