/* GOOGLE FONTS */

.playfair-display-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 56px;
}

.playfair-display-heading-footer {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
}

.playfair-display-sub-heading-footer {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.playfair-display-article-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 33px;
}

.playfair-display-sub-heading {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.playfair-display-caption {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.playfair-display-para {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 17px;
}

.playfair-display-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.playfair-display-link {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.playfair-display-quote {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  padding-bottom: 15px;
}

.playfair-display-name {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  float: right;
  padding-right: 30px;
}

/* MAIN ELEMENTS */

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: left;
  padding-left: 50px;
}

h5 {
  text-align: left;
}

h6 {
  text-align: center;
}

hr {
  border: 0.5px solid black;
}

.grid-item-corp article ul {
  list-style-type: disc;
}

/* MENU ELEMENTS */

.menuButton_index {
  margin-top: 10px;
  margin-right: 15px;
  float: right;
  width: 35px;
  z-index: 1;
  display: block;
  cursor: pointer;
}

.lines_index {
  width: 30px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #000000;
  margin: 6px 0;
  z-index: 1;
}

.menu-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff700;
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-overlay a:hover, .menu-overlay a:focus {
  text-decoration: underline;
}

.menu-content {
  margin: 20px;
  padding: 8px;
  text-decoration: none;
  font-size: 2.5vh;
  color: #000000;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

a.playfair-display-link {
  display: block;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  text-decoration: none;
}

a.playfair-display-link:hover {
  text-decoration: underline;
}

.menu-content ul {
  list-style-type: none;
  text-align: left;
}

.menu-overlay .closebtn {
  position: relative;
  top: 1%;
  color: #000000;
  font-size: 18px;
  padding-left: 20px;
  float: left;
}

/* --- FLASH MESSAGE STYLING ---- */

.flash {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
}

.flash.error {
  background-color: #e53935;
  color: #ffffff;
}

.flash.success {
  background-color: #00c853;
  color: #ffffff;
}

.close-alert {
  float: right;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1;
}

.close-alert:hover {
  color: #555;
}

/* HEADER ELEMENTS */

.news-head {
  background-image: url("/media/ld-bg-img.png");
  background-repeat: no-repeat;
  background-position: 50% 75px;
  background-size: 500px 20px;
  text-align: center;
}

.news-head a {
  text-decoration: none;
  cursor: pointer;
  padding-left: 45px;
}

.fa-lemon {
  color: #fff700;
  font-size: 42px;
}

.fa-cart-shopping {
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
}

.corp-head {
  background-image: url("/media/ld-bg-img.png");
  background-repeat: no-repeat;
  background-position: 50% 75px;
  background-size: 500px 20px;
  text-align: center;
}

.corp-head a {
text-decoration: none;
cursor: pointer;
padding-left: 45px;
}

.date {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  padding-bottom: 5px;
}

.category-links {
  background-color: #fefdcf;
  text-align: center;
}

.category-links a {
  display: inline;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

.category-links a:HOVER {
  text-decoration: underline;
}

.fa-arrow-left {
  font-size: 16px;
}

/* LAYOUT CLASSES */

.right {
  float: right;
}

.right-para {
  padding-right: 50px;
  float: right;
}

.justify {
  text-align: justify;
}

/* GRID ELEMENTS */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  text-align: left;
  height: auto;
}

.grid-item h1.playfair-display-caption {
  text-align: left;
}

.grid-container .grid-item a {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}

.grid-item a:HOVER {
  text-decoration: underline;
}

.grid-container-article {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 10px;
}

.grid-item-article {
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  text-align: left;
  height: auto;
}

.grid-item-article a {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.grid-item-article a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  padding-bottom: 5px;
}

.pic {
  max-width: 90%;
  text-align: center;
}

/* FOOTER ELEMENTS */

footer {
  background-color: #fefdcf;
  width: 100%;
}

footer .fa-lemon {
  font-size: 34px;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 10px;
}

.grid-item-footer {
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  height: auto;
}

.grid-item-footer a {
  padding: 5px;
  margin: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.grid-item-footer a:hover {
  text-decoration: underline;
}

.footer-link {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  text-decoration: underline;
}

.back_to_top {
  background-color: #fefdcf;
  border: 0px;
  color: #000000;
  padding: 0 0;
  font-size: 20px;
  cursor: n-resize;
  float: right;
}

/* SUBSCRIPTION PAGE */

.subscription-box {
  background-color: #fff700;
  color: #000000;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  cursor: pointer;
  border: 0.5px solid black;
}

.subscription-box:hover {
  background-color: #fdf86a;
}

a .subscription-box {
  text-align: left;
}

.grid-item-article a.box-link {
  text-decoration: none;
}

input[type=submit] {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  background-color: #fff700;
  color: #000000;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #fdf86a;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* CART */

table, th, td {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
}

thead {
  background-color: #fefdcf;
  color: #000000;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

tfoot {
  background-color: #fefdcf;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

tfoot td {
  text-align: center;
  font-weight: 700;
}

th {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  width: 35%;
}

td {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  width: 65%;
}

.remove-button {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  background-color: #fe3838;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

.cart-button {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  background-color: #fff700;
  color: #000000;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

a.cart-button:hover {
  background-color: #fdf86a;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* CORPORATE PAGES */

.corp-body {
  background-color: #fefdcf;
  margin: 0;
  padding: 0;
}

.corp-footer {
  background-color: #fefdcf;
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;
}

.grid-container-corp {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

.grid-item-corp {
  padding: 75px;
  margin: 5px;
  font-size: 30px;
  height: auto;
}

.grid-item-corp .container a {
  text-align: center;
}

.grid-item-corp .container a:hover {
  text-decoration: none;
}

.grid-item-corp ul {
  list-style-type: none;
}

.grid-item-corp a {
  cursor: pointer;
  text-align: left;
  text-decoration: none;
}

.grid-item-corp a:hover {
  text-decoration: underline;
}

.container a.playfair-display-caption:hover {
  text-decoration: underline;
}

a.playfair-display-para:hover {
  text-decoration: underline;
}

a.playfair-display-text {
  text-decoration: underline;
}

.playfair-display-text a:hover {
  text-decoration: underline;
}

.grid-item-corp article a {
  display: inline;
  padding: 0;
  text-decoration: none;
}

details p {
  padding-left: 30px;
}

summary {
  padding: 10px;
}

summary a {
  display: inline;
  text-decoration: none;
}

.grid-item-corp .tab {
  padding-left: 50px;
}

/* MEDIA QUERY */

@media all and (max-width: 599px){
  .playfair-display-para {
    font-weight: 450;
    font-size: 15px;
  }
  .grid-container {
    grid-template-columns: 100%;
  }
  .grid-item:nth-last-child(1) {
    border-bottom: none;
  }
  .grid-container-article {
    grid-template-columns: 100%;
  }
  .grid-container-footer {
    grid-template-columns: 100%;
  }
  .grid-container-corp {
    grid-template-columns: 100%;
  }
  .grid-item-corp {
    padding: 25px;
  }
}

@media all and (min-width: 600px) and (max-width:799px){
  .grid-container {
    grid-template-columns: 50% 50%;
  }
  .grid-item:nth-last-child(-n + 2) {
    border-bottom: none;
  }
  .grid-container-article {
    grid-template-columns: 100%;
  }
  .grid-container-footer {
    grid-template-columns: 100%;
  }
  .grid-container-corp {
    grid-template-columns: 100%;
  }
  .grid-item-corp {
    padding: 50px;
  }
}

@media all and (min-width: 800px) and (max-width:1024px){
  .grid-container {
    grid-template-columns: 50% 50%;
  }
  .grid-item:nth-last-child(-n + 2) {
    border-bottom: none;
  }
  .grid-container-article {
    grid-template-columns: 20% 60% 20%;
  }
  .grid-container-footer {
    grid-template-columns: 30% 70%;
  }
  .grid-container-corp {
    grid-template-columns: 50% 50%;
  }
  .grid-item-corp {
    padding: 50px;
  }
  .playfair-display-heading-footer {
    font-weight: 600;
    font-size: 34px;
  }
}

@media all and (min-width: 1025px) and (max-width: 1399px){
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .grid-item:nth-last-child(-n + 3) {
    border-bottom: none;
  }
  .grid-container-article {
    grid-template-columns: 20% 60% 20%;
  }
  .grid-container-footer {
    grid-template-columns: 30% 70%;
  }
  .grid-container-corp {
    grid-template-columns: 50% 50%;
  }
}

@media all and (min-width: 1400px){
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .grid-item:nth-last-child(-n + 4) {
    border-bottom: none;
  }
  .grid-container-article {
    grid-template-columns: 20% 60% 20%;
  }
  .grid-container-footer {
    grid-template-columns: 30% 70%;
  }
  .grid-container-corp {
    grid-template-columns: 50% 50%;
  }
}