{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="category-links">
  <hr>
  <h2 class="playfair-display-article-heading">Subscriptions</h2>
  <hr>
</div>

{% endblock %}

{% block content %}

<div class="grid-container-article">

    <div class="grid-item-article">
    </div>
   
    <div class="grid-item-article">
      <h2 class="playfair-display-caption">Select a subscription and join today!</h2>
      {% for item in subscriptions %}
      <br>
      <a href="{% url 'subscription' item.subscription.id %}" class="box-link">
        <div class="subscription-box">
          <p class="playfair-display-article-heading">{{ item.subscription.type }}<span class="right"><b>{% if item.subscription.duration_years == 1 %}STANDARD{% else %}PREMIUM{% endif %} PASS</b></span></p>
          <p class="playfair-display-para">{{ item.subscription.description }}</p>
          <p class="playfair-display-caption"><b>Duration: </b>{{ item.subscription.duration_years }} {% if item.subscription.duration_years == 1 %}year{% else %}years{% endif %}<span class="right"><b>Price: </b>£{{ item.vat_cost|floatformat:2 }}</span></p>
        </div>
      </a>
     {% endfor %}
    </div>
   
   </div>
   
{% endblock %}