{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{% static 'icons/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon-180x180.png' %}">
    {% endblock %}

    {% block corecss %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/04887afb98.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>``` LEMON DROPS ```{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <div id="mainMenu" class="menu-overlay">
        <a id="closeButton" class="closebtn">&times;</a>
      <br>
      <br>
        <div class="menu-content">
          <a class="playfair-display-link" href="{% url 'home' %}">Front Page</a>
      <hr>
          {% if request.user.is_authenticated %}
          <a class="playfair-display-link" href="{% url 'profile' %}">Manage Profile</a>
          <a class="playfair-display-link" href="{% url 'account_logout' %}">Sign Out</a>
          {% else %}
          <a class="playfair-display-link" href="{% url 'subscriptions' %}">Subscribe</a>
          <a class="playfair-display-link" href="{% url 'account_login' %}">Members Sign In</a>
          {% endif %}
      <hr>
      <a href="{% url 'corporate' %}" class="playfair-display-link">Corporate Pages</a>
            <ul>
                <li>
                    <a href="{% url 'about' %}" class="playfair-display-link">About</a>
                </li>
                <li>
                    <a href="{% url 'faqs' %}" class="playfair-display-link">FAQs</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}" class="playfair-display-link">Contact</a>
                </li>
                <li>
                    <a href="{% url 'privacy' %}" class="playfair-display-link">Privacy</a>
                </li>
                <li>
                    <a href="{% url 'payments' %}" class="playfair-display-link">Payments</a>
                </li>
                <li>
                    <a href="{% url 'refunds' %}" class="playfair-display-link">Refunds</a>
                </li>
                <li>
                    <a href="{% url 'terms' %}" class="playfair-display-link">Terms</a>
                </li>
            </ul>
            {% if not request.user.is_authenticated %}
            <hr>
          <a class="playfair-display-link" href="{% url 'cart' %}">View Cart</a>
          {% endif %}
        </div>
      </div>
      {% if not request.user.is_authenticated %}
        {% if cart_items %}
        <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-arrow-down"></i></a>
        {% else %}
        <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-plus"></i></a>
        {% endif %}
        {% endif %}
       <div id="menuButton" class="menuButton_index">
        <div class="lines_index"></div>
        <div class="lines_index"></div>
       </div>
        {% url 'corporate' as corporate_url %}
        {% url 'about' as about_url %}
        {% url 'faqs' as faqs_url %}
        {% url 'contact' as contact_url %}
        {% url 'privacy' as privacy_url %}
        {% url 'payments' as payments_url %}
        {% url 'refunds' as refunds_url %}
        {% url 'terms' as terms_url %}
        {% if request.path != corporate_url and request.path != about_url and request.path != faqs_url and request.path != contact_url and request.path != privacy_url and request.path != payments_url and request.path != refunds_url and request.path != terms_url %}
    <div class="news-head">
    <a href="{% url 'home' %}" class="playfair-display-heading">Lemon <i class="fa-solid fa-lemon"></i> Drops</a>
    <h2 class="playfair-display-sub-heading">Experrectus ut irrumabo</h2>
    <h3 class="playfair-display-caption">FAKE NEWS DAILY</h3>
    <h4 class="playfair-display-para">Scooby Pips, Editor-In-Chief<span id="date" class="right-para"></span></h4>
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    {% if messages %}
    {% for message in messages %}
        <div class="flash {{ message.tags }}" role="alert">
            {{ message }}
            <button type="button" class="close-alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
    {% url 'corporate' as corporate_url %}
    {% url 'about' as about_url %}
    {% url 'faqs' as faqs_url %}
    {% url 'contact' as contact_url %}
    {% url 'privacy' as privacy_url %}
    {% url 'payments' as payments_url %}
    {% url 'refunds' as refunds_url %}
    {% url 'terms' as terms_url %}
    {% if request.path != corporate_url and request.path != about_url and request.path != faqs_url and request.path != contact_url and request.path != privacy_url and request.path != payments_url and request.path != refunds_url and request.path != terms_url %}
    <footer>
        <hr>
            <div class="grid-container-footer">
                <div class="grid-item-footer">
                    <br>
                    <a href="{% url 'about' %}" class="footer-link">About</a>
                    <a href="{% url 'faqs' %}" class="footer-link">FAQs</a>
                    <a href="{% url 'contact' %}" class="footer-link">Contact</a>
                    <a href="{% url 'privacy' %}" class="footer-link">Privacy</a>
                    <a href="{% url 'terms' %}" class="footer-link">Terms</a>
                </div>
                <div class="grid-item-footer">
                    <h1 class="playfair-display-heading-footer">Lemon <i class="fa-solid fa-lemon"></i> Drops</h1>
                    <a href="{% url 'subscriptions' %}" class="playfair-display-caption">Subscribe for less than 1 pence per day <sup>*</sup></a>
                    <p class="playfair-display-para"><sup>*</sup> Offer only available for eternity</p>
                </div>
            </div>
            <div class="corp-footer">
                <button onclick="topFunction()" class="back_to_top">&#8673;</button>
                <h6 class="playfair-display-sub-heading-footer">&copy; <span id="copyright"></span>. All rights reserved.</h6>
                </div>
                <br>
    </footer>
    {% endif %}
    {% block postloadjs %}
        <script src="{% static 'js/menu-function.js' %}"></script>
        <script src="{% static 'js/date.js' %}"></script>
        <script src="{% static 'js/close-alert-messages.js' %}"></script>
        <script src="{% static 'js/copyright.js' %}"></script>
        <script src="{% static 'js/back-to-top.js' %}"></script>
    {% endblock %}
  </body>
</html>