{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="corp-head">
        <h4 class="playfair-display-heading">Corporate <i class="fa-solid fa-lemon"></i> Pages</h4>
            <h6 class="playfair-display-sub-heading">Where personality goes to die</h6>
            <br>
            <br>
</div>
{% endblock %}
{% block content %}
<div class="corp-body">
    <hr>
    <div class="grid-container-corp">
        <div class="grid-item-corp">
            <p class="playfair-display-caption">"Lawyers are like vegetables - no one likes them but you need them." <sub>A LAWYER</sub></p>
            <p class="playfair-display-text justify">Congratulations for visiting Lemon Drops' <sup>TM</sup> Corporate Pages. Your dedication to the satirical cause is beyond our wildest dreams.</p>
            <p class="playfair-display-text justify">Here you will find everything we could think to say about Lemon Drops <sup>TM</sup> before we buried our foreheads onto our keyboards and cursed Apple for making the keys so wonderful to the touch.</p>
            <a href="{% url 'about' %}" class="footer-link">About</a>
            <a href="{% url 'faqs' %}" class="footer-link">FAQs</a>
            <a href="{% url 'contact' %}" class="footer-link">Contact</a>
            <a href="{% url 'privacy' %}" class="footer-link">Privacy</a>
            <a href="{% url 'terms' %}" class="footer-link">Terms</a>
        </div>
        <div class="grid-item-corp">
            <h1 class="playfair-display-heading-footer">Lemon <i class="fa-solid fa-lemon"></i> Drops</h1>
        </div>
    </div>
    <hr>
    <h2 class="playfair-display-sub-heading-footer">&copy; <span id="copyright"></span>. All rights reserved.</h2>
<br>
</div>
{% endblock %}