{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="corp-head">
    <a href="{% url 'corporate' %}" class="playfair-display-heading">Corporate <i class="fa-solid fa-lemon"></i> Pages</a>
        <h6 class="playfair-display-sub-heading">Where the will to live dies</h6>
            <br>
            <br>
</div>
{% endblock %}

{% block content %}
<div class="corp-body">
    <hr>
        <div class="grid-container-corp">
            <div class="grid-item-corp">
                <p class="playfair-display-quote">
                    "You'd better read 'em, just incase there's a prize on offer."
                    <br>
                    <span class="playfair-display-name">Anon</span>
                </p>
                    <br>
                        <article class="playfair-display-text justify">
                            <h3 class="playfair-display-caption">
                                LEMON DROPS' <sup>TM</sup> USER AGREEMENT
                            </h3>
                                <p>This user agreement issued by Lemon Drops <sup>TM</sup> to users of this website. 
                                    They shall continue in perpetuity. 
                                    All users must indicate their acceptance of this Agreement before using the website. 
                                    If users do not agree with any part of these terms they must refrain from using the website.
                                    <br>
                                    <br>
                                These terms should be viewed in conjunction with our: 
                                <a href="{% url 'privacy' %}">
                                    Privacy Policy
                                </a>.
                                <p>
                                    Lemon Drops <sup>TM</sup> reserve the right to amend or withhold our services without notice.
                                    <br>
                                    <br>
                                We accept no legal responsibility for any events caused to users when accessing this site. 
                                Although we make concerted efforts, we cannot guarantee that the website will always be free from viruses. 
                                As such, we are not liable for any loss or damage caused to your computer equipment, programs or data. 
                                It is the user's responsibility to ensure the security of their internet connection.
                                    <br>
                                    <br>
                                Users may not interfere with, damage or disrupt any part of this website.</p>
                            <h3 class="playfair-display-link">THIRD PARTY CONTENT</h3>
                                <p>Some sections of this website contain links to reputable service providers, 
                                    which users of Lemon Drops <sup>TM</sup> may find of interest. 
                                    Lemon Drops <sup>TM</sup> is not responsible for these service providers, 
                                    their websites or the content displayed there in. 
                                    For any enquiries relating to to third party websites, products or services, 
                                    please contact the service provider directly.
                                </p>
                            <h3 class="playfair-display-link">
                                COMMERCIAL CONTENT
                            </h3>
                                <p>Lemon Drops <sup>TM</sup> is the owner or licensee of all intellectual property rights disclosed on the Site. 
                                    All rights are reserved and protected by copyright laws worldwide.
                                    <br>
                                    <br>
                                Lemon Drops <sup>TM</sup> asserts their right to be acknowledged as the owners of the material on the website.
                                    <br>
                                    <br>
                                The information contained on this website is provided expressly for the purpose of informing the reader of Lemon Drops' 
                                <sup>TM</sup> commercial intentions.
                                    <br>
                                    <br>
                                In accessing the website, users acknowledge and agrees that:
                                </p>
                                    <ol>
                                        <li>Its content must not be duplicated or distributed in any way without prior permission from Lemon Drops 
                                            <sup>TM</sup>.</li>
                                        <li>Content may not be download and altered in any way.</li>
                                    </ol>
                        </article>
                            <ul>
                                <li>
                                    <a href="{% url 'about' %}" class="playfair-display-para">About</a>
                                </li>
                                <li>
                                    <a href="{% url 'faqs' %}" class="playfair-display-para">FAQs</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}" class="playfair-display-para">Contact</a>
                                </li>
                                <li>
                                    <a href="{% url 'privacy' %}" class="playfair-display-para">Privacy</a>
                                </li>
                            </ul>
            </div>
            <div class="grid-item-corp">
                <div class="container">
                    <a href="{% url 'home' %}" class="playfair-display-heading-footer">
                        Lemon <i class="fa-solid fa-lemon"></i> Drops
                    </a>
                    <a href="{% url 'subscriptions' %}" class="playfair-display-caption">
                        Subscriptions
                    </a>
                </div>
                <p class="playfair-display-text justify">
                    Should you wish to 
                    <a href="{% url 'subscriptions' %}">
                        subscribe
                    </a>
                     to this most trusted source of libel, you can do so from less than 1 pence a day. <sup>*</sup>
                </p>
                <p class="playfair-display-text justify">
                    Subscribers receive exclusive news bulletins sent directly to their email before anything actually happens. 
                    That's right, world leading spam for less 1 pence a day! <sup>*</sup>
                </p>
                <p class="playfair-display-text justify">
                    Over <i>one</i> subscriber(s) can't be wrong. Moolah really does make us try harder.
                </p>
                <p class="playfair-display-text justify">
                    <a href="{% url 'subscriptions' %}">
                        Subscriptions
                    </a>
                     are available on an annual or quadrennial basis.</p>
                <p class="playfair-display-text justify">
                    Concerned we might be charlatans, scammers, fakes, phoneys hackers with nefarious intent or terrorist funders? 
                    Below we have compiled some pages of legal sounding words to convince you otherwise.
                </p>
                    <ul>
                        <li>
                            <a href="{% url 'terms' %}" class="playfair-display-para">Terms</a>
                        </li>
                    </ul>
                <p class="playfair-display-text justify"><sup>*</sup> 
                    <a href="{% url 'subscriptions' %}">
                        Subscribe
                    </a>
                     for 4 years and get leap day free!
                </p>
            </div>
        </div>
    <hr>
        <div class="corp-footer">
            <button onclick="topFunction()" class="back_to_top">&#8673;</button>
                <h2 class="playfair-display-sub-heading-footer">
                    &copy; <span id="copyright"></span>. All rights reserved.
                </h2>
        </div>
    <br>
</div>
{% endblock %}